<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <!--配置-->
    <!--图片样式集合规则,目的是控制缩图数量 [w0.jpg,w100.jpg,w200.jpg] -->
    <add key="ImageStyle" value="w0.jpg,w100.jpg,w200.jpg"/>
    <!--是否真实生成缩图 0：每次动态生成比较慢 1:物理保存图片-->
    <add key="IsRealGenerate" value="1"/>
    <!--临时图片目录 -->
    <add key="TempDirectory" value="upload_Tn"/>
    <!--原图目录-->
    <add key="OrigDirectory" value="upload"/>
    <!--原图地址-->
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="ImgUrlRewrite" type="ImageService.ImgUrlRewrite"/>
    </httpModules>
  </system.web>

  <system.webServer>
    <handlers>
      <!--映射所有的图片文件-->
      <add name="net40伪静态" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness64"/>
      <!--一下根据.net版本选择不同的脚本-->
      <!--<add name="静态脚本20" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness32" />-->
      <add name="静态脚本40" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
    </handlers>
  </system.webServer>
</configuration>
